<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <title>设备列表</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/custom.form.css">
    <link rel="stylesheet" href="/css/jquery.json-viewer.css" />
</head>
<body>
<div class="panel panel-default client_operation" hidden>
    <div class="panel-heading title"></div>
    <div class="layui-card-body">
        <form class="layui-form " action="" lay-filter="info" style="width: 700px;margin-top: 10px">
            <div class="layui-form-item">
                <label class="layui-form-label">设备 ID</label>
                <div class="layui-input-block">
                    <input type="text" name="clientId" readonly style="background:#eeeeee!important"
                           autocomplete="off" class="layui-input ">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">设备名称</label>
                <div class="layui-input-block">
                    <input type="text" name="clientName" placeholder="请输入设备名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">设备类型</label>
                <div class="layui-input-block">
                    <select id="clientType" name="clientType" lay-filter="clientType">
                        <option value="">请选择设备类型</option>
                        <option value="1">音箱</option>
                        <option value="2">机器人</option>
                        <option value="3">其他</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">操作系统</label>
                <div class="layui-input-block">
                    <select id="clientOs" name="clientOs" lay-filter="clientOs">
                        <option value="">请选择设备操作系统</option>
                        <option value="1">Linux</option>
                        <option value="2">Android</option>
                        <option value="3">其他</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">设备简介</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入设备简介" class="layui-textarea" name="clientInfo"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">重新提交认证</button>
                    <button class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="client_table_div" th:if="${userStatus == 'enable'}">
    <div id="searchParam">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" id="clientId" class="layui-input" autocomplete="off" placeholder="请输入设备 ID">
            </div>
            <div class="layui-input-inline">
                <input type="text" id="clientName" class="layui-input" autocomplete="off" placeholder="请输入设备名称">
            </div>
            <div class="layui-input-inline">
                <input type="text" readonly class="layui-input" id="createTime" placeholder="请选择创建时间">
            </div>
            <div class="layui-input-inline layui-form">
                <select id="status">
                    <option value="">请选择设备认证状态</option>
                    <option value="0">未认证</option>
                    <option value="1">认证通过</option>
                    <option value="2">认证失败</option>
                </select>
            </div>
            <div class="layui-input-inline ">
                <button class="layui-btn" onclick="search()" id="search">查询</button>
            </div>
        </div>
    </div>
    <table class="layui-hide" id="clientTable" lay-filter="clientTable"></table>
</div>
<div th:unless="${userStatus == 'enable'}">
    <div th:switch="${userStatus}">
        <p th:case="disable">请先完善基本资料，
            <a th:href="@{/index/user/info}" style="color:#0366d6;text-decoration:underline;">去完善</a>
        </p>
        <p th:case="pending">资料审核中，请稍后...</p>
    </div>
</div>
</body>

<script src="/js/jquery.js"></script>
<script src="/layui/layui.all.js"></script>
<script src="/js/core.util.js"></script>
<script src="/js/jquery.json-viewer.js"></script>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="batchDelete" >批量删除</button>
    </div>
</script>
<script type="text/html" id="operate">
    <a title="详情" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="detail"><icon class="layui-icon">&#xe60b;</icon></a>
    <a title="编辑" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit" sec:authorize="hasRole('ROLE_USER')"><icon class="layui-icon">&#xe642;</icon></a>
    <a title="删除" class="layui-btn layui-bg-red layui-btn-xs layui-btn-normal" lay-event="delete"><icon class="layui-icon">&#xe640;</icon></a>
</script>
<script>
    var tableIns;
    var startTime = null;
    var endTime = null;
    var $ = layui.jquery;
    layui.use(['table', 'layer', 'laydate'], function(){
        var table = layui.table;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var form = layui.form;
        tableIns = table.render({
            elem: '#clientTable'
            , url:'/client/queryList'
            , page: true    //开启分页，默认page=1，limit=10
            , initSort: {   //默认按照时间倒序排列
                field: 'createTime',
                type: 'desc'
            }
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left', width:'4%'},
                    {field:'clientId', width:'25%', title:'设备 ID'},
                    {field:'clientName', width:'14%', title:'设备名称', sort: true},
                    {field:'clientType', width:'8.5%', title:'设备类型', sort: true,
                        templet: function (data) {
                            if (data.clientType == 1) return "<span>音箱</span>";
                            else if (data.clientType == 2) return "<span>机器人</span>";
                            else return "<span>其他</span>";
                        }
                    },
                    {field:'clientOs', width:'8.5%', title:'操作系统', sort: true,
                        templet: function (data) {
                            if (data.clientOs == 1) return "<span>Linux</span>";
                            else if (data.clientOs == 2) return "<span>Android</span>";
                            else return "<span>其他</span>";
                        }
                    },
                    {field:'createTime', width:'15%', title:'创建时间', sort: true,
                        templet: "<div>{{layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss')}}</div>"},
                    {field:'status', width:'11%', title:'认证状态', sort: true,
                        templet: function (data) {
                            if (data.status == 1)
                                return '<input type="checkbox" lay-skin="switch" lay-text="认证通过" checked disabled>';
                            else if (data.status == -1)
                                return '<input type="checkbox" lay-skin="switch" lay-text="认证通过|认证失败" disabled>';
                            else return '<input type="checkbox" lay-skin="switch" lay-text="认证通过|未认证" disabled>';
                        }
                    },
                    {fixed: 'right', toolbar: "#operate", title:'操作',width:'14%'}
                ]
            ]
            , toolbar: '#toolbar'
        });

        laydate.render({
            elem: '#createTime'
            , type: 'datetime'
            , range: '~'
            , done: function (value, date, endDate) {
                if (value != null && value != undefined && value != "") {
                    startTime = value.split("~")[0];
                    endTime = value.split("~")[1];
                } else {
                    startTime = null;
                    endTime = null;
                }
            }
        });

        table.on('toolbar(clientTable)', function (obj) {
            switch (obj.event) {
                case 'batchDelete':
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg("请选择要批量删除的设备");
                    } else {
                        var clientIds = [];
                        $(data).each(function (index, item) {
                            clientIds.push(item.clientId);
                        });
                        tipDialog(clientIds, "选中的");
                    }
                    break;
            };
        });
        table.on('tool(clientTable)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'delete':
                    var clientId = [];
                    clientId.push(data.clientId);
                    tipDialog(clientId, data.clientName);
                    break;
                case 'edit':
                    $(".client_table_div").hide();
                    $(".client_operation").show();
                    $(".title").html("编辑虚拟设备");
                    $(".client_operation input[name=clientId]").val(data.clientId);
                    $(".client_operation input[name=clientName]").val(data.clientName);
                    //渲染select 默认选中
                    if (!CoreUtil.isEmpty(data.clientType)) {
                        $("#clientType").find('option[value="'+data.clientType+'"]').prop('selected',true);
                    }
                    if (!CoreUtil.isEmpty(data.clientOs)) {
                        $("#clientOs").find('option[value="'+data.clientOs+'"]').prop('selected',true);
                    }
                    $(".client_operation textarea[name=clientInfo]").val(data.clientInfo);
                    form.render(); //更新全部
                    break;
                case 'detail':
                    layer.open({
                        type: 1,
                        skin: 'layui-layer-molv', //样式类名
                        title: "设备详情",
                        shadeClose: true, //开启遮罩关闭
                        area: ['500px', '350px'], //宽高
                        shade: 0.4, //遮罩透明度
                        maxmin: true, //允许全屏最小化
                        anim: 0, //0-6的动画形式，-1不开启
                        content: '<pre id="json-renderer"></pre>',
                        success:function(){
                            var jsonObj = {
                                "设备 ID": data.clientId,
                                "设备名称": data.clientName,
                                "设备类型": data.clientType==1?"音箱":data.clientType==2?"机器人":"其他",
                                "操作系统": data.clientOs==1?"Linux":data.clientOs==2?"Android":"其他",
                                "设备简介": data.clientInfo,
                                "创建时间": layui.util.toDateString(data.createTime, "yyyy-MM-dd HH:mm:ss"),
                                "更新时间": layui.util.toDateString(data.updateTime, "yyyy-MM-dd HH:mm:ss"),
                                "认证状态": data.status==0?"未认证":data.clientOs==1?"认证通过":"认证失败"
                            };
                            $("#json-renderer").jsonViewer(jsonObj);
                        },
                        cancel: function () {
                        }
                    });
                    break;
            }
        });

        var tipDialog = function (clientIds, clientName) {
            layer.open({
                content: "确定要删除 " + clientName + " 设备吗?",
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendDelete("/client/delete", clientIds, function (res) {
                        layer.msg(res.msg);
                        search();
                    });
                }
            });
        };

        //返回
        $("#btn_cancel").click(function () {
            $(".client_table_div").show();
            $(".client_operation").hide();
            return false;
        });

        //监听提交
        form.on('submit(submit)', function (data) {
            CoreUtil.sendPost("/client/update", data.field, function (res) {
                layer.msg(res.msg);
                $(".client_table_div").show();
                $(".client_operation").hide();
                search();
            });
            return false;
        });
    });

    //执行查询
    function search() {
        //这里以搜索为例
        tableIns.reload({
            where: { //设定异步数据接口的额外参数
                clientId: $("#clientId").val(),
                clientName: $("#clientName").val(),
                startTime: startTime,
                endTime: endTime,
                status: $("#status").val()
            }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    };
</script>
</html>