<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备列表</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/custom.form.css">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12 layui-col-md12 layui-col-lg12">
            <div class="user_table_div">
                <div id="searchParam">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text" id="clientId" class="layui-input" autocomplete="off" placeholder="请输入设备 ID">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" id="clientName" class="layui-input" autocomplete="off" placeholder="请输入设备名称">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" readonly class="layui-input" id="createTime" placeholder="请选择创建时间">
                        </div>
                        <div class="layui-input-inline layui-form">
                            <select id="status">
                                <option value="">请选择设备认证状态</option>
                                <option value="0">未认证</option>
                                <option value="1">认证通过</option>
                                <option value="2">认证失败</option>
                            </select>
                        </div>
                        <div class="layui-input-inline ">
                            <button class="layui-btn" onclick="search()" id="search">查询</button>
                        </div>
                    </div>

                </div>
                <table class="layui-hide" id="clientTable" lay-filter="clientTable"></table>
            </div>
        </div>
    </div>
</div>
</body>

<script src="/layui/layui.all.js"></script>
<script src="/js/core.util.js"></script>
<script>
    layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#clientTable'
            , url:'/client/queryList'
            , page: true    //开启分页，默认page=1，limit=10
            , initSort: {   //默认按照时间倒序排列
                field: 'createTime',
                type: 'desc'
            }
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left', width:'4%'},
                    {field:'clientId', width:'25%', title:'设备 ID'},
                    {field:'clientName', width:'15%', title:'设备名称', sort: true},
                    {field:'clientType', width:'8.5%', title:'设备类型', sort: true,
                        templet: function (data) {
                            if (data.clientType == 1) return "<span>音箱</span>";
                            else if (data.clientType == 2) return "<span>机器人</span>";
                            else return "<span>其他</span>";
                        }
                    },
                    {field:'clientOs', width:'8.5%', title:'操作系统', sort: true,
                        templet: function (data) {
                            if (data.clientOs == 1) return "<span>Linux</span>";
                            else if (data.clientOs == 2) return "<span>Android</span>";
                            else return "<span>其他</span>";
                        }
                    },
                    {field:'createTime', width:'15%', title:'创建时间', sort: true,
                        templet: "<div>{{layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss')}}</div>"},
                    {field:'status', width:'10%', title:'认证状态', sort: true,
                        templet: function (data) {
                            if (data.status == 1)
                                return '<input type="checkbox" lay-skin="switch" lay-text="正常|禁用" checked disabled>';
                            else return '<input type="checkbox" lay-skin="switch" lay-text="正常|禁用" disabled>';
                        }
                    },
                    {fixed: 'right',title:'操作',width:'14%',
                        templet: function(data){
                            return "<a href='' title='详情' class='layui-btn layui-btn-xs layui-btn-normal'><icon class='layui-icon'>&#xe60b;</icon></a>"+
                                "<a href='' title='修改' class='layui-btn layui-btn-xs layui-btn-normal'><icon class='layui-icon'>&#xe642;</icon></a>"+
                                "<a href='' title='删除' class='layui-btn layui-bg-red layui-btn-xs layui-btn-normal'><icon class='layui-icon'>&#xe640;</icon></a>";
                        }
                    }
                ]
            ]
        });
    });
</script>
</html>